.objet{
    height: 20px;
}
.email{
    color: darkblue;
}
.tof{
    float:right ;
    margin: 40px;
    height: 50px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
     border-bottom:double;
     border-color: mediumblue;
     border height: 500px;
     
}
h1{
    text-align: center;
    color: chocolate;
 }
 p{
     text-align: justify;
     padding: 10px;
 }